[submodule "playground-nav3"]
	path = playground-nav3
	url = https://github.com/kk-house-777/playground-nav3.git
[submodule "playground-soil"]
	path = playground-soil
	url = https://github.com/kk-house-777/playground-soil.git
[submodule "playground-metro"]
	path = playground-metro
	url = ./playground-metro
[submodule "playground-swift-something"]
	path = playground-swift-something
	url = ./playground-swift-something
